<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>
<div id="navbar">
    {% if not user_auth %}
        <a id="login" href="{% url 'login' %}">login</a>
        <a id="register" href="{% url 'register' %}">register</a>
    {% endif %}
    {% if user_auth %}
        <a id="logout" href="{% url 'logout' %}">logout</a>
        <a id="panel" href="{% url 'panel' %}">panel</a>
    {% endif %}
    <a id="homepage" href="/">home</a>
    <a id="contact_us" href="{% url 'contact' %}">contact us!</a>
</div>
{% block content %}
    سلام. به سامانه‌ی انتخاب واحد مجازی خوش آمدید.
{% endblock %}
</body>
</html>